<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Newt</title>
    <link rel="stylesheet" href="newt.css">
  </head>
  <body>
    
    <div newt-toolbar>
      toolbar
      <div ng-click="ctrl.closeActivity()"> Chiudi </div>
    </div>
    
    <div newt-menu>
       <ul>
          <li ng-repeat="value in ctrl.menuItems" ng-click="ctrl.select(value)">
          {{value.label}}
          </li>
       </ul>
    </div>
    
    <div newt-display>
    </div>
    
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="main.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
