
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
}

.newtRootActivityDisplay {
  position: absolute;
  top: 100px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: #fff;
}
.activityDisplay {
  position: relative;
  height: 100%;
  width: 100%;
  border: 0px;
}
.activityFrame {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  border: none;
}


.ng-hide, 
.ng-show {
  display: none !important;
}